.main-header-title {
    font-weight: bold;
    color: rgb(40, 88, 38);
    font-size: 1.8rem;
}
.main-header {
    background-color: rgb(247, 63, 63);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .main-header-title {
        font-size: 3rem;
    }

    .main-header {
    height: 80px;
    justify-content: space-around;
}
}
